.body{
    font-family: 'Roboto Slab', serif;
}

.mainTitleContainer {
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events:none;
    opacity: 0;
    animation: forwards fadeOut ease-in-out 9s;
    animation-delay: 2s;
}

.title{
    font-size: 3rem;
}
.author{
    font-size: 2rem;
}
.instruc{
    margin-top: 10%;
    font-size: 1.5rem;
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}